/*
font-family:  Arial, Helvetica, sans-serif;
font-family: 'Heebo', sans-serif;
font-family: 'Poppins', sans-serif;
*/
@import url('fonts.css');
html {
    height: 100%;
}

* {
    max-height: 100000px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

header,
footer,
article,
section,
hgroup,
nav,
figure {
    display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

.login_form .fields input:-webkit-autofill,
.login_form .fields input:-webkit-autofill:hover,
.login_form .fields input:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
}

.text_left {
    text-align: left !important;
}

.d_table {
    width: 100%;
    height: 100%;
    display: table;
}

.v_middle,
.v_bottom {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.v_bottom {
    vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
    font-family: "Heebo", sans-serif;
    color: #141414;
}

.hidden {
    display: none;
}

figure {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    color: #616161;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
    font: 400 16px/21px "Heebo", sans-serif;
    background: #fff;
}

input[type="submit"] {
    cursor: pointer;
}

img {
    vertical-align: top;
    border-style: none;
}

input:focus,
select:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: #235932;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.anim {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transform: translate(0, 250%);
}

.col_caption:hover .anim,
.caption:hover .anim {
    transform: translate(0, 0);
}

a:hover {
    /* color: #e64d43; */
    text-decoration: none;
}

.list_none {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list_inline {
    letter-spacing: -5px;
}

.list_inline li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
}

.list_inline * {
    letter-spacing: 0;
}

input[type="text"],
input[type="password"],
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="button"],
input[type="search"],
input[type="email"],
input[type="checkbox"],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
}

input,
textarea,
select {
    font-size: 100%;
    font-family: "Heebo", sans-serif;
    vertical-align: middle;
    color: #6e6e6e;
    width: 100%;
    height: 38px;
    padding: 5px 7px;
    display: block;
    border-radius: 8px;
    border: 1px solid #d0d0d0;
}

.login_form select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border: 0;
}

form,
fieldset {
    margin: 0;
    padding: 0;
    font-family: "Heebo", sans-serif;
    border-style: none;
}

a:focus {
    outline: none;
}

.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}

.img-responsive.max_width {
    width: auto;
    max-width: 100%;
}

.container {
    /* max-width: 1237px; */
    max-width: 1147px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.container:after {
    display: block;
    clear: both;
    content: "";
}

#header .container {
    max-width: 1448px;
}

#wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#header {
    padding: 0 0 13px;
}

.top_header {
    padding: 8px 0;
    margin: 0 0 13px;
    background: #f3f3f3;
    overflow: visible;
}

.top_header .left {
    float: left;
    max-width: 36%;
    font: bold italic 13px/17px Arial, Helvetica, sans-serif;
    color: #000;
    padding: 5px 0 0;
}

.top_header p {
    margin: 0;
}

.top_header .right {
    float: right;
    max-width: 62%;
    font-size: 13px;
}

.top_header a {
    color: #313131;
}

.top_header span,
.top_header span img,
.top_header span a {
    display: inline-block;
    vertical-align: middle;
}

.top_header span img {
    margin: 0 5px 0 0;
}

.top_header span {
    padding: 0 17px;
    border-left: 1px solid #cacaca;
}

.top_header span:first-child,
.top_header span:last-child {
    border: none;
}

.nav_holder:after,
#header:after {
    display: block;
    clear: both;
    content: "";
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

#nav {
    padding-left: 25px;
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

#nav .four_cols {
    width: 100%;
    position: absolute;
    top: 70%;
    z-index: 5;
    left: 390px;
    max-width: 300px;
    padding-top: 12px;
    display: none;
}

#nav .four_cols .tab-content .four_cols {
    max-width: 1130px;
}

#nav .four_cols.fluid {
    left: 0px;
}

#nav .four_cols .holder {
    padding: 20px 0px 0px 0px;
    letter-spacing: -5px;
    background: #fff;
    overflow: hidden;
}

#nav .four_cols.fluid .holder {
    padding-top: 0;
}

#nav .four_cols.fluid>.holder {
    background-color: #01267f;
    box-shadow: 0px 2px 19px 0 rgba(0, 0, 0, 0.3);
}

#nav .four_cols.fluid>.holder .menu_holder {
    background-color: #ffffff;
}

#nav .four_cols.fluid .col .col-information {
    width: 100%;
}

#nav .four_cols .ico {
    display: block;
    margin: 0 auto 16px;
}

#nav .four_cols strong {
    display: block;
    margin: 0 0 10px;
    font-size: 15px;
    color: #383838;
    font-weight: 500;
}

#nav .four_cols p {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

#nav .four_cols .holder * {
    letter-spacing: 0;
}

#nav .four_cols .col {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 10px 20px;
    border-left: 1px solid #eee;
    text-align: center;
}

#nav .four_cols .col:first-child {
    border: none;
}

#nav .four_cols.vertical-menu-item>.holder {
    box-shadow: 0px 2px 19px 0 rgba(0, 0, 0, 0.3);
}

#nav .four_cols.vertical-menu-item .holder .col {
    border-top: 0px;
    border-right: 1px;
    border-bottom: 0px;
    border-left: 1px;
    border-style: solid;
    border-color: #eee;
}

#nav .four_cols.vertical-menu-item .holder .col:last-child {
    border-bottom: 1px;
    border-style: solid;
    border-color: #eee;
}

#nav .four_cols .col,
#nav .four_cols.three .col {
    width: 100%;
}

#nav>ul>li.has-drop:nth-child(2) .four_cols.vertical-menu-item {
    left: 390px;
}

#nav>ul>li.has-drop:nth-child(3) .four_cols.vertical-menu-item {
    left: 520px;
}

#nav .four_cols .tab-content .four_cols .col .image-holder {
    border: 5px solid #eee;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 15px;
}

#nav .four_cols .tab-content .four_cols .col .col-icon {
    display: block;
    vertical-align: top;
}

#nav .four_cols .tab-content .four_cols .col .col-icon img {
    background-color: transparent;
    padding: 10px;
    border-radius: 0px;
    vertical-align: top;
    float: none;
    height: 130px;
    max-width: unset;
}

#nav .four_cols .tab-content .four_cols .col .col-information {
    display: block;
    text-align: left;
    padding-left: 0px;
}

#nav .four_cols .tab-content .four_cols .col .col-information .txt {
    padding-left: 10px;
}

#nav .four_cols.vertical-menu-item .col a.ico {
    display: inline-block;
    width: 70px;
    margin: 0px;
}

#nav .four_cols.vertical-menu-item .col .col-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#nav .four_cols.vertical-menu-item .col .col-icon {
    background-color: #01267F;
}

.container.page h1 {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #01267F;
}


/* #nav .four_cols .col .col-icon img {
  padding: 10px;
  border-radius: 50%;
  vertical-align: top;
} */

#nav .four_cols .col .col-information {
    display: inline-block;
    text-align: left;
    padding-left: 10px;
    width: 180px;
}

#nav .four_cols .tab-content .four_cols .col .col-information strong {
    font-size: 16px;
    color: #01267F;
}

#nav .four_cols .tab-content .four_cols .col .col-information strong a {
    color: inherit;
}

#nav li {
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    padding-right: 12px;
}

#nav>ul.list_none>li {
    padding: 8px 6px;
}

#nav ul>li.active,
#nav ul>li:hover {
    background-color: #01267F;
    border-radius: 10px;
}

#nav ul>li.active>a,
#nav ul>li:hover>a {
    color: #ffffff;
}


/* #nav li.has-drop {
  background: url("../images/drop_down.png") no-repeat 99% 7px;
} */

#nav ul.list_none>li.has-drop>a::after {
    content: "\f107";
    margin-left: 10px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

#nav ul.list_none>li.has-drop>a:hover::after {
    content: "\f106";
}

#nav li:hover .four_cols {
    display: block;
}

#nav a {
    color: #141414;
    display: block;
    padding-right: 6px;
}

#nav li:last-child {
    margin: 0;
}

.nav_holder .align_right {
    padding: 15px 0 0;
    float: right;
    width: 35%;
}

.search_form {
    width: 56%;
    padding: 0 0px 0px 5px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.search_form input {
    width: 71%;
    float: left;
    font-size: 15px;
    background: none;
}

.search_form input[type="submit"] {
    margin: 0px 0px 0px 0px;
    padding: 0px 12px;
    float: right;
    width: auto;
    height: 38px;
    border: none;
    cursor: pointer;
    background-color: #01267F;
    color: #ffffff;
    /* background: url("../images/search_icon.png") no-repeat; */
    /* font-size: 0; */
}

.btn_cart,
.btn_aclogin {
    margin-left: 30px;
    font: 600 13px/17px "Poppins", sans-serif;
    float: right;
    border-radius: 30px;
    color: #fff;
    padding: 11px 15px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0fc1ea+1,0fb0dc+51,0f9dce+100 */
    background: #0fc1ea;
    /* Old browsers */
    background: -moz-linear-gradient( top, #0fc1ea 1%, #0fb0dc 51%, #0f9dce 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient( top, #0fc1ea 1%, #0fb0dc 51%, #0f9dce 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient( to bottom, #0fc1ea 1%, #0fb0dc 51%, #0f9dce 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0fc1ea', endColorstr='#0f9dce', GradientType=0);
    /* IE6-9 */
}

.btn_aclogin {
    padding: 8px 13px;
}

.btn_cart img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 7px 0 0;
}

#main {
    width: 100%;
    overflow: hidden;
}

.banner {
    height: 285px;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    overflow: hidden;
}

.banner.home {
    height: 420px;
}

.banner_caption {
    line-height: 28px;
    color: #fff;
    overflow: hidden;
}

.banner_caption h1 {
    margin: 0 0 20px;
    font-size: 40px;
    line-height: 44px;
    color: #fff;
    font-weight: 400;
}

.banner_caption p {
    margin: 0;
}

.gallery {
    width: 100%;
    position: relative;
}

.gallery .slide {
    width: 100%;
    padding: 10px 30px;
    float: left;
}

.gallery.home-banner .slide {
    padding: 0px;
}

.gallery .mask {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.gallery.add .mask {
    padding-top: 10px;
    height: 180px !important;
}

.gallery .btn-prev,
.gallery .btn-next {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
}

.gallery .btn-next {
    left: auto;
    right: 0;
}

.gallery.home-banner .btn-prev {
    left: 30px;
}

.gallery.home-banner .btn-next {
    right: 30px;
}

.gallery .pagination {
    position: absolute;
    left: 50%;
    overflow: hidden;
}

.gallery .slide_holder {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 10px;
    border-radius: 5px;
}

.gallery .img_holder {
    text-align: center;
    border: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 7px;
    overflow: hidden;
    display: block;
}

.gallery .img_holder:hover {
    box-shadow: 0px 3px 21px 0 rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.gallery .slide {
    letter-spacing: -5px;
}

.gallery .slide * {
    letter-spacing: 0;
}

.gallery .img_holder span {
    display: block;
    font-size: 15px;
}

.gallery .img_holder img {
    display: block;
    max-width: 120px;
    margin: 0 auto 10px;
    height: 80px;
    object-fit: contain;
}

.inner_img {
    overflow: hidden;
    height: 90px;
}

.products {
    overflow: hidden;
    padding: 40px 0;
}

.sec_heading {
    margin: 0 0 27px;
    text-align: center;
    color: #383838;
    font-size: 25px;
    font-weight: 300;
    line-height: 29px;
}

.sec_header .sec_heading {
    font-size: 36px;
    line-height: 40px;
}

.featured_products {
    padding: 40px 0 0;
    background: #f2f2f2;
    overflow: hidden;
}

.featured_product {
    max-width: 834px;
    margin: 0 auto;
    overflow: hidden;
}

.featured_product .img-holder-wrapper {
    width: 37%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-right: 65px;
}

.featured_product img {
    vertical-align: top;
    max-width: 100%;
    float: left;
}

.featured_products .slide {
    padding: 0;
}

.featured_products .mask {
    min-height: 450px !important;
}

.slide_txt {
    overflow: hidden;
    display: inline-block;
    width: 61%;
}

.slide_txt strong {
    margin: 0 0 21px;
    display: block;
    font-size: 30px;
    color: #01267f;
    line-height: 34px;
}

.slide_txt p {
    margin: 0 0 21px;
    font-size: 14px;
    line-height: 23px;
}

.details_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    background: #01267f;
    color: #fff;
    padding: 10px 20px;
}

.gallery .pagination {
    padding: 0 0 10px;
    position: absolute;
    overflow: hidden;
    right: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    left: 0;
}

.gallery .pagination ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.gallery .pagination ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 4px;
}

.gallery .pagination a {
    display: block;
    width: 9px;
    height: 9px;
    font-size: 0;
    background: #d0d3dc;
    border-radius: 100%;
}

.gallery .pagination li.active a {
    background: #193a8a;
}

.explore {
    margin: 0 auto 40px;
}

.hightlights ul li {
    width: 30%;
    float: right;
    height: 240px;
    border-radius: 17px;
    overflow: hidden;
    position: relative;
}

.hightlights ul li:hover {
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.8);
}

.hightlights ul li:first-child {
    width: 68%;
    float: left;
}

.hightlights ul li .txt {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    color: #fff;
    padding: 30px 27px;
    background: url("../images/gradient.png") no-repeat 0 100%;
    background-size: cover;
}

.hightlights ul li .txt span {
    display: inline-block;
    background: #050100;
    vertical-align: top;
    text-transform: uppercase;
    padding: 3px 15px;
    font-size: 13px;
}

.hightlights ul li .txt .title {
    position: absolute;
    left: 27px;
    bottom: 20px;
    font-size: 22px;
    font-weight: normal;
    line-height: 26px;
}

.hightlights ul li a {
    color: #ffffff;
}

.newsletter_area {
    border-top: 1px solid #e5e5e5;
    letter-spacing: -5px;
    overflow: hidden;
    background: url("../images/img9.jpg") no-repeat;
    background-size: 50% 100%;
}

#footer .cols {
    padding: 43px 15px;
}

.hightlights {
    margin-bottom: 50px;
}

.newsletter_area * {
    letter-spacing: 0;
}

.newsletter_area .col {
    float: right;
    width: 50%;
    padding: 40px 60px;
}

.newsletter_area .col:first-child {
    padding: 40px 10px;
    float: left;
}

.newsletter_area .col .holder {
    max-width: 410px;
    margin: 0 auto;
}

.newsletter_area .col h2 {
    margin: 0 0 12px;
    font-weight: 300;
    font-size: 31px;
    line-height: 35px;
    color: #0f0f0f;
}

.newsletter_area .col p {
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}

.mail_form {
    max-width: 414px;
    overflow: hidden;
}

.mail_form .title {
    display: block;
    color: #193d85;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 13px;
}

.mail_form input,
.mail_form select {
    width: 100%;
    display: block;
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    margin: 0 0 10px;
    font-size: 15px;
    padding: 2px 25px;
    height: 40px;
}

.mail_form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../images/bg_select.png") no-repeat 98% 50%;
}

.mail_form input[type="submit"] {
    width: 160px;
    margin: 0px auto 0;
    background: #00bceb;
    border: none;
    color: #fff;
    text-align: center;
    font: 600 17px/21px "Poppins", sans-serif;
}

.mail_form .title i {
    float: left;
    margin: 0 16px 0 0;
}

.socials {
    overflow: hidden;
}

.socials li {
    display: inline-block;
    vertical-align: top;
    padding: 0 7px;
}

.socials li a {
    display: block;
    border-radius: 5px;
    background: #fff;
    text-align: center;
    border: 1px solid #b9b9b9;
    color: #252a2d;
    width: 47px;
    height: 47px;
    font-size: 22px;
    padding: 11px 0 0;
}

.socials li a:hover,
.socials li.active a {
    border-color: #1da1f2;
    background: #1da1f2;
    color: #fff;
}

#footer {
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
}

#footer .container {
    letter-spacing: -5px;
}

#footer .container * {
    letter-spacing: 0;
}

#footer .col {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding: 0 10px;
}

#footer .title {
    margin: 0 0 13px;
    font-size: 19px;
    font-weight: 400;
    display: block;
}

#footer ul {
    overflow: hidden;
}

#footer ul li {
    display: block;
    margin: 0 0 2px;
}

#footer ul a {
    color: #9e9e9e;
    font-size: 14px;
}

#footer ul a:hover {
    color: #01267F;
}

.rights {
    padding: 25px 0;
    background: #002878;
    overflow: hidden;
    color: #fff;
}

.rights ul {
    float: right;
}

#footer .rights a,
#footer .rights ul a {
    color: #fff;
}

#footer .rights ul li {
    display: inline-block;
    vertical-align: top;
    margin-left: 16px;
    position: relative;
}

#footer .rights ul li:after {
    width: 1px;
    height: 16px;
    position: absolute;
    left: -11px;
    top: 2px;
    content: "";
    background: #fff;
}

#footer .rights ul li:first-child:after {
    background: none;
}

#footer .rights ul li a:hover {
    color: #00BCEB;
}

.rights p {
    margin: 0;
    padding-right: 20px;
    overflow: hidden;
}

#footer .col i {
    color: #002878;
}

#footer .col p {
    margin: 0;
}

.text-center {
    text-align: center;
}

.grow .text {
    float: left;
    width: 47%;
    font-weight: 300;
    font-size: 15px;
}

.grow .text h3 {
    font-size: 36px;
    font-weight: normal;
    color: #383838;
    margin: 0 0 24px;
    line-height: 40px;
}

.grow .text p {
    margin: 0 0 27px;
}

.common_list {
    overflow: hidden;
    font-size: 14px;
}

.common_list li {
    overflow: hidden;
    position: relative;
    padding: 0 20px 7px;
}

.common_list li:after {
    width: 9px;
    height: 9px;
    position: absolute;
    content: "";
    left: 0;
    top: 6px;
    background: url("../images/list_bullet.png") no-repeat;
}

.grow .slider {
    float: right;
    width: 50%;
}

.grow .slide {
    padding: 0;
}

.grow {
    overflow: hidden;
    padding: 60px 0;
}

.grow .pagination ul a {
    background: none;
    border: 1px solid #12b8e2;
}

.grow .pagination ul li.active a,
.grow .pagination ul a:hover {
    background: #12b8e2;
}

.culture {
    padding: 40px 0 55px;
    background: #f2f2f2;
    overflow: hidden;
}

.culture ul {
    overflow: hidden;
    letter-spacing: -5px;
}

.culture ul * {
    letter-spacing: 0;
}

.culture ul li {
    width: 33.3%;
    padding: 0 18px;
    display: inline-block;
    vertical-align: top;
}

.culture ul .holder {
    border-radius: 13px;
    overflow: hidden;
    position: relative;
}

.culture .caption {
    padding: 0 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.culture .caption strong {
    font-size: 21px;
    font-weight: 500;
    display: block;
    margin: 0 0 20px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.culture .caption p {
    margin: 0;
    font-weight: 300;
    font-size: 15px;
    min-height: 84px;
}

.culture ul .holder:hover .caption,
.culture ul .holder.active .caption {
    background: rgba(1, 38, 127, 0.79);
}

.culture ul .holder:hover .caption .v_bottom,
.culture ul .holder.active .caption .v_bottom {
    vertical-align: middle;
}

.culture ul .holder:hover .caption p,
.culture ul .holder.active .caption p {
    display: block;
}

.jobs {
    padding: 50px 0;
    overflow: hidden;
}

.jobs .container {
    max-width: 869px;
}

.job_opener {
    display: block;
    font-size: 22px;
    color: #383838;
    font-weight: 500;
}

.job_opener .close {
    display: none;
}

.job_opener.active img {
    display: none;
}

.job_opener.active .close {
    display: block;
}

.job_opener i {
    float: right;
    margin: 8px 0 0;
}

.job_opener span {
    overflow: hidden;
}

.job_opener span em {
    display: block;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
}

.job {
    background: #f7f7f7;
    overflow: hidden;
    padding: 15px 34px;
    margin: 0 0 14px;
}

.jobs .holder {
    overflow: hidden;
}

.job_text {
    margin: 0 0 18px;
    font-weight: 300;
    font-size: 14px;
    overflow: hidden;
    display: none;
}

.job_text .date {
    margin: 0 0 30px;
    overflow: hidden;
}

.job_text p {
    margin: 0;
}

.job_text p b {
    font-size: 15px;
}

.job_desc {
    margin: 0 0 30px;
    overflow: hidden;
}

.job_text .title {
    display: block;
    font-size: 16px;
    margin: 0 0 10px;
}

.job_text ul {
    overflow: hidden;
}

.job_text ul li {
    padding: 0 17px 5px;
    position: relative;
}

.btn_apply {
    background: #193d85;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    padding: 8px 22px;
    display: inline-block;
}

.job_reqs {
    overflow: hidden;
    margin: 0 0 30px;
}

.map_area {
    margin-top: 40px;
    background: #f7f7f7;
    padding: 40px 60px;
    position: relative;
}

.map_holder {
    display: inline-block;
    vertical-align: middle;
    width: 48%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 19px 0 rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.map_holder iframe {
    width: 100%;
    height: 290px;
}

.map_area .text {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5%;
    width: 48%;
    font-weight: 300;
    font-size: 15px;
}

.map_area h2 {
    color: #01267f;
    font-weight: 500;
    margin: 0 0 20px;
}

.map_area p {
    margin: 0 0 20px;
}

.map_area ul li {
    margin: 0 0 6px;
}

.map_area ul li img {
    float: left;
    margin: 5px 10px 0 0;
}

.btn_social {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.contact_form {
    max-width: 855px;
    margin: 0 auto;
    padding: 50px 15px;
    overflow: hidden;
}

.contact_form p {
    margin: 0 0 35px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.contact_form .fields,
.update-information-form .fields {
    overflow: hidden;
}

.contact_form .field_row,
.update-information-form .field_row {
    overflow: hidden;
}

.contact_form .field_col,
.update-information-form .field_col {
    float: right;
    width: 49%;
}

.contact_form .field_col:first-child,
.update-information-form .field_col:first-child {
    float: left;
}

.contact_form .field_col.fluid,
.update-information-form .field_col.fluid {
    float: none;
    width: 100%;
}

.contact_form input,
.contact_form select,
.update-information-form input,
.update-information-form select {
    width: 100%;
    display: block;
    border: 1px solid #d3d3d3;
    background-color: #f9f9f9;
    border-radius: 30px;
    margin: 0 0 15px;
    font-size: 14px;
    padding: 2px 25px;
    height: 40px;
}

.contact_form select,
.update-information-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../images/bg_select.png") no-repeat 98% 50%;
}

.contact_form textarea {
    resize: none;
    height: 150px;
    font-size: 14px;
    padding: 10px 25px;
    margin: 0 0 15px;
}

.contact_form input[type="submit"],
.update-information-form input[type="submit"] {
    background: #01267f;
    color: #fff;
    width: 160px;
    margin: 0 auto;
}

.field_row.submit_field {
    margin: 30px 0 0;
}

.contact_form .sec_heading {
    margin: 0 0 5px;
}

.faqs .job_opener {
    font-size: 17px;
    line-height: 21px;
}

.faqs .job_opener i {
    margin: 0;
}

.faqs .job_text {
    padding-top: 20px;
    line-height: 22px;
}

.q_searcher {
    max-width: 577px;
    margin: 0 auto 70px;
    /* background: #f8f8f8 url("../images/search_icon2.png") no-repeat 96% 50%; */
    border: 1px solid #d3d3d3;
    border-radius: 30px;
    padding: 2px 10px;
}

.q_searcher input {
    padding: 5px 33px 5px 7px;
    background: none;
    font-weight: 300;
    font-size: 15px;
}

.login {
    height: 100vh;
    background: url("../images/login_bg.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.login_form {
    width: 40%;
    float: right;
    border-left: 2px solid #21387d;
    padding: 60px 15px 60px 50px;
    text-align: center;
    color: #fff;
    max-height: 700px;
    overflow-y: auto;
}

.login_form form {
    max-width: 389px;
}

.login_form strong {
    margin: 0 0 40px;
    display: block;
    font-weight: 300;
    font-size: 20px;
}

.login_form .fields {
    overflow: hidden;
}

.login_form .row {
    margin: 0 0 30px;
    border: 1px solid #8d9abb;
    overflow: hidden;
    border-radius: 30px;
    text-align: left;
    padding: 3px 14px;
}

.login_form .row.no_border {
    background: none;
}

.login_form .img_holder {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    border-right: 1px solid #8d9abb;
    padding: 0 15px 0 0;
}

.login_form input,
.login_form select {
    display: inline-block;
    vertical-align: middle;
    width: 83%;
    margin: 0;
    height: 35px;
    font-size: 14px;
    background: none;
    color: #fff;
}

.login_form select {
    width: 82%;
}

.login_form select option {
    color: #8d9abb;
}

.login_form ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1;
    /* Firefox */
}

.login_form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}

.login_form ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}

.register-checkbox-alerts .custom_check {
    font-size: 14px;
}

.register-left-side {
    float: left;
    width: 65%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 70%;
}

.register-left-side .info-wrapper .why-title {
    font-size: 24px;
}

.register-left-side ul {
    list-style: none;
    display: inline-block;
    padding-left: 0px;
}

.register-left-side ul li {
    text-align: left;
}

.register-left-side ul li:before {
    content: '>';
    color: #21a5e4;
    font-size: 18px;
    padding-right: 12px;
}

.login_form .img_holder img {
    max-width: 26px;
}

.no_border {
    border: none !important;
}

.hidden {
    display: none !important;
}

.custom_check {
    padding-left: 31px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.custom_check:after {
    width: 14px;
    height: 14px;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    border: 3px solid #25a0e4;
    border-radius: 5px;
}

.login_form input[type="checkbox"]:checked+label:after {
    background: #25a0e4;
}

.label_holder {
    padding: 11px 0 0;
    float: left;
}

.login_form input[type="submit"] {
    width: 170px;
    float: right;
    border-radius: 30px;
    color: #fff;
    text-align: center;
    background: #25a0e4;
    padding: 7px 20px;
    height: auto;
    font-size: 18px;
}

.user_links {
    padding: 17px 0;
    overflow: hidden;
    border-top: 3px solid #214185;
    position: relative;
}

.user_links a {
    color: #fff;
    font-size: 14px;
    float: right;
    font-weight: 600;
}

.user_links a:first-child {
    float: left;
    font-weight: 300;
}

.user_links:after {
    width: 2px;
    height: 30px;
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    background: #8bb3e3;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.events_area {
    padding: 50px 15px 38px;
    overflow: hidden;
}

.events_holder {
    max-width: 1190px;
    margin: 0 auto;
}

#sidebar {
    float: left;
    width: 18%;
}

#content {
    float: right;
    width: 80%;
}

.tab-content:after,
.events_holder:after {
    display: block;
    clear: both;
    content: "";
}

.event {
    border: 1px solid #ededed;
    border-radius: 7px;
    background: #f7f7f7;
    margin: 0 0 13px;
    padding: 26px 29px;
}

.event:after {
    display: block;
    clear: both;
    content: '';
}

.event:hover {
    box-shadow: 0px 2px 19px 0 rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.event .img_holder {
    float: left;
    width: 236px;
    border-radius: 13px;
    overflow: hidden;
}

.event .txt {
    padding-left: 25px;
    float: left;
    width: 60%;
}

.event .txt.no-image {
    width: 90%;
}

.event .txt h2 {
    color: #01267f;
    font-size: 24px;
    margin: 0 0 16px;
}

.event .txt h2 a {
    color: #01267f;
    display: block;
    /* background: url("../images/tip1.png") no-repeat 100% 50%; */
}


/* .event .txt h2 a.active {
    background: url("../images/tip2.png") no-repeat 100% 50%;
} */

.event .txt .country {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #454545;
}

.event .txt .date {
    display: block;
    font-size: 14px;
    font-weight: 300;
    color: #454545;
    margin: 0 0 27px;
}

.toggle_content {
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
    display: none;
}

.toggle_content.active {
    display: block;
}

#sidebar h2 {
    margin: 0;
    font-weight: 600;
    color: #221f1f;
    font-size: 14px;
    margin: 0 0 16px;
}

#sidebar ul li {
    margin: 0 0 11px;
}

#sidebar ul a {
    color: #6a6c6f;
    font-size: 15px;
    font-weight: 300;
    display: block;
    position: relative;
    padding: 0 0 0 28px;
}

#sidebar ul a:after {
    width: 12px;
    height: 12px;
    border: 3px solid #999;
    border-radius: 5px;
    position: absolute;
    content: "";
    left: 0;
    top: 1px;
}

#sidebar ul li.active a {
    color: #01267f;
}

#sidebar ul li.active a:after {
    background: #01267f;
    border-color: #01267f;
}

#sidebar ul.count_list.list_none li a {
    padding: 0px;
}

#sidebar ul.count_list.list_none li a:after {
    display: none;
}

.tab-content .tab {
    display: none;
}

.tab-content .tab.active {
    display: block;
}

.sec_header {
    overflow: hidden;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    margin: 0 0 30px;
}

.projects {
    letter-spacing: -5px;
    overflow: hidden;
}

.projects * {
    letter-spacing: 0;
}

.projects li {
    width: 33.3%;
    padding: 0 20px 40px;
    display: inline-block;
    vertical-align: top;
}

.projects img {
    border-radius: 15px;
    margin: 0 0 8px;
    max-width: 100%;
    height: 270px;
    object-fit: cover;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.projects strong {
    display: block;
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    color: #383838;
}

.projects li a:hover img {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

.projects li a:hover strong {
    font-weight: 600;
}

.btn_div {
    padding: 40px 0 0;
    text-align: center;
    overflow: hidden;
}

.load_btn {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #01267f;
    color: #01267f;
    border-radius: 30px;
    padding: 12px 26px;
    font-size: 15px;
}

table {
    width: 100%;
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: left;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}

table th {
    padding: 12px 20px;
    font-weight: 600;
    background: #d6d9e3;
}

table td {
    padding: 12px 20px;
    font-weight: 400;
    border-bottom: 1px solid #e8e8e8;
}

.load_btn img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.load_btn.export {
    padding: 8px 18px;
}

.sec_header a {
    color: #0b20c1;
}

.twocols {
    margin: 0 0 20px;
    overflow: hidden;
}

.twocols .col {
    float: right;
    width: 48%;
    position: relative;
}

.twocols .col:first-child {
    float: left;
}

.who-we-are .twocols .col {
    width: 49%;
}

.twocols .col img {
    border-radius: 9px;
}

.col_caption {
    padding: 23px 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    color: #0f0f0f;
    background: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    border: 1px solid #d1d1d1;
    border-radius: 9px;
}

.col_caption a {
    color: #0f0f0f;
}

.col_caption a:hover {
    text-decoration: underline;
    color: #183b8e;
}

.col_caption .title {
    display: block;
    color: #01267f;
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 25px;
}

.col_caption p {
    margin: 0 0 25px;
}

.col_caption ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    overflow: hidden;
}

.col_caption ul li {
    position: relative;
    padding: 0 0 7px 15px;
}

.col_caption ul li:after {
    width: 7px;
    height: 7px;
    position: absolute;
    left: 0;
    top: 6px;
    content: "";
    background: url("../images/bullet.png") no-repeat;
}

.twocols.three .col {
    float: none;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    border-radius: 9px;
    max-height: 329px;
    overflow: hidden;
}

.who-we-are .twocols.three .col {
    float: left;
    width: 23.5%;
}

.who-we-are .twocols.three .col:first-child {
    margin-right: 25px;
}

.twocols.three .col:nth-child(2) .col_caption {
    background: #0fa2d2;
}

.twocols.three .col_caption {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.twocols.three .col_caption .title {
    color: #fff;
}

.twocols.three .col_caption p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
}

.twocols.three .col:last-child {
    float: right;
    width: 51%;
}

.who-we-are .twocols.three .col:last-child {
    width: 49%;
}

.twocols.three .col_caption ul li {
    padding-left: 20px;
}

.twocols.three .col_caption ul li:after {
    width: 12px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 6px;
    content: "";
    background: url("../images/tick.png") no-repeat;
}

.twocols.three .col:last-child .col_caption {
    background: rgba(1, 38, 127, 0.9);
}

.banner_caption.light h1 {
    font-weight: 300;
    margin: 0 0 10px;
}

.banner_caption.light {
    font-weight: 300;
}

.breadcrumbs {
    padding: 11px 15px;
    overflow: hidden;
    border-bottom: 1px solid #d5d5d5;
}

.breadcrumbs.add {
    border-top: 1px solid #d5d5d5;
    border-bottom: none;
}

.breadcrumbs li {
    padding-right: 25px;
    float: left;
    font-size: 13px;
    color: #4d4d4d;
    position: relative;
}

.breadcrumbs li a {
    color: #727272;
}

.breadcrumbs li a:hover {
    color: #01267F;
}

.breadcrumbs li:after {
    width: 1px;
    height: 16px;
    position: absolute;
    left: -13px;
    top: 3px;
    content: "";
    background: #7c7c7c;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
}

.breadcrumbs li:first-child:after {
    background: none;
}

#content.fluid {
    float: none !important;
    width: 100% !important;
}

#content.fluid .event {
    background: none;
}

#content.fluid .event:hover {
    box-shadow: 0px 2px 19px 0 rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.event .txt.add {
    font-weight: 300;
}

.event .txt.add h2 {
    font-weight: 300;
}

.detail_btn {
    float: right;
    border-radius: 30px;
    border: 1px solid #01267f;
    color: #01267f;
    padding: 6px 11px;
    margin: 48px 0 0 40px;
    font-size: 15px;
}

.detail_btn:hover {
    color: #fff;
    background: #01267f;
}

.event_holder {
    overflow: hidden;
}

.event .txt.add p {
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* -webkit-line-clamp: 4; */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    /* line-height: 1.2;
    max-height: 5rem; */
}

.sec_header.add {
    margin-bottom: 60px;
}

#content.fluid .event .img_holder img {
    margin: 0 auto;
}

#content.fluid.main-category .event .img_holder img {
    height: 200px;
    object-fit: contain;
}

.tab-content #related #content.fluid .event .img_holder img {
    height: 150px;
    object-fit: contain;
}

.product_upper {
    padding: 30px 0 17px;
    overflow: hidden;
}

.product_upper .vid_holder {
    float: left;
    max-width: 407px;
}

.product_upper .vid_holder iframe {
    border-radius: 15px;
}

.product_upper .text {
    overflow: hidden;
    padding-left: 44px;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
}

.product_upper .text p {
    font-size: 16px;
    color: #141414;
}

.product_upper .text.no-video.no-image {
    padding-left: 0px;
}

.product_upper .text h2 {
    font-size: 30px;
    font-weight: 300;
    line-height: 34px;
    margin: 0;
}

.rack_products {
    overflow: hidden;
}

.rac_head {
    padding: 0 0 5px;
    border-bottom: 1px solid #e9e9e9;
    overflow: hidden;
}

.rac_head select {
    float: right;
    width: auto;
    border-radius: 2px;
    font-size: 13px;
}

.rac_head strong {
    overflow: hidden;
    color: #01267f;
    font-size: 25px;
    line-height: 29px;
    padding: 10px 20px 0 0;
    display: block;
}

.products_list {
    overflow: hidden;
}

.products_list li {
    display: inline-block;
    vertical-align: top;
    width: 19.5%;
    padding: 15px 10px 15px;
}

.products_list li img {
    max-width: 100%;
}

.rack_products.sub-category .products_list li img {
    height: 150px;
    object-fit: contain;
    width: 100%;
}

.products_list li strong {
    display: block;
    font-weight: 300;
}

.products_list li strong a {
    color: #213b70;
    font-size: 15px;
}


/* .rack_products .products_list li:hover a,
.products_list li strong a:hover {
    text-decoration: underline;
} */

.rack_products .products_list li:hover {
    /* border: 2px solid #01267F; */
    box-shadow: inset 0px 1px 5px 3px #01267F;
}

.product_galery {
    padding: 40px 0 0;
    overflow: hidden;
}

.product_galery .align_left {
    float: left;
    width: 45%;
}

.product_galery .align_left img {
    max-height: 320px;
    object-fit: contain;
    width: 100%;
    height: auto;
}

.thumb_holder {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #d6d6d6;
    margin: 0 2px;
    width: 67px;
    text-align: center;
    height: 67px;
    padding: 17px 0;
}

.product_galery .align_left .sh-p-gallery-thumb .thumb_holder {
    padding: 5px 10px;
}

.product_galery .align_left .slide {
    text-align: center;
}

.product_galery .align_left .slide .thumb_holder {
    padding: 10px 0;
}

.product_galery .align_left .slide .thumb_holder img,
.product_galery .align_left .sh-p-gallery-thumb .thumb_holder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product_galery .gallery .btn-prev img,
.product_galery .gallery .btn-next img {
    width: 12px;
}

.product_galery .align_right {
    float: right;
    width: 48%;
    background: #f3f3f3;
    border-radius: 9px;
    padding: 32px 30px;
    font-weight: 300;
    font-size: 14px;
}

.product_galery h2 {
    margin: 0 0 19px;
    font-weight: 300;
    color: #383838;
    font-size: 26px;
    line-height: 30px;
}

.product_galery p {
    margin: 0 0 16px;
    font-size: 14px;
    line-height: 25px;
}

.b_part {
    overflow: hidden;
}

.b_part .social_icons {
    padding: 10px 0 0;
    /* float: right; */
}

.b_part .product-social-wrapper .product-social-lable,
.b_part .product-social-wrapper .product-social-icons {
    display: inline-block;
}

.b_part .product-social-wrapper .product-social-icons .social_icons li a:hover {
    color: #01267F;
}

.b_part .product-social-wrapper {
    float: right;
}

.b_part .social_icons li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

.b_part .social_icons a {
    color: #909090;
}

.b_part .left {
    overflow: hidden;
}

.b_part .left a {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #01267f;
    border-radius: 30px;
    color: #01267f;
    padding: 8px 13px;
    margin-right: 10px;
}

.b_part .left a.active {
    background: #01267f;
    color: #fff;
}

.msg {
    display: block;
    text-align: center;
    font-size: 13px;
    color: #b5b5b5;
    margin: 0 0 2px;
}

.b_part .left a img {
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
}

.product_tabs,
.pages {
    margin: 0 0 40px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 7px;
    overflow: hidden;
}

.product_tabs li,
.pages li {
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;
}

.product_tabs li a,
.pages li a {
    color: #636363;
    font-weight: 300;
    font-size: 17px;
    display: block;
    padding: 4px 8px;
    border-radius: 7px;
}

.product_tabs li.active a,
.pages li.active a {
    color: #002878;
    background: #e5e9f2;
}

.tab_visual {
    padding: 0 0 50px;
    overflow: hidden;
}

.tab_visual .align_left {
    float: right;
    border-radius: 9px;
    overflow: hidden;
    width: 40%;
}

.tab_visual .align_right {
    width: 55%;
    float: left;
    background: none;
}

.video_holder {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.video_holder h2 {
    font-size: 27px;
    line-height: 32px;
}

.video_holder iframe {
    width: 100%;
    display: block;
    height: 392px;
}

.vid_div {
    position: relative;
    overflow: hidden;
}

.vid_div .btn_play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.video_holder.extras {
    margin: 50px auto 0;
    border-top: 1px solid #dedede;
    padding-top: 40px;
}

.video_holder.extras h2 {
    font-size: 20px;
    font-weight: 400;
}

.container.product_tabs-holder {
    padding: 40px 15px;
}

.loading_div {
    overflow: hidden;
    padding: 30px 0 0;
}

.pages {
    padding: 20px 0;
    border: none;
    margin: 0;
}

#sidebar .q_searcher input {
    padding: 5px 16px 5px 7px;
    height: 31px;
    font-size: 14px;
}

.pages_content #sidebar {
    width: 21%;
}

#sidebar .q_searcher {
    margin: 0 0 20px;
}

.filter_form input[type="radio"]:checked+label:after,
.filter_form input[type="checkbox"]:checked+label:after {
    background: #01267f;
}

.pages_content #sidebar {
    font-weight: 300;
    font-size: 15px;
}

.pages_content #sidebar label {
    display: block;
    margin: 0 0 10px;
}

.pages_content #sidebar label:after {
    border-color: #999;
}

.pages_content #sidebar input[type="radio"]:checked+label:after,
.pages_content #sidebar input[type="checkbox"]:checked+label:after {
    border-color: #01267f;
}

.filter_form input[type="reset"],
.filter_form input[type="submit"] {
    color: #96a6ca;
    border: 1px solid #96a6ca;
    font-weight: 500;
    text-align: center;
    float: left;
    width: 46%;
    cursor: pointer;
    background: none;
}

.filter_form input[type="submit"] {
    background: #002878;
    border-color: #002878;
    border-radius: 7px;
    float: right;
    color: #fff;
}

.filter_form .btns {
    overflow: hidden;
    padding: 14px 0;
}

.count_list {
    overflow: hidden;
}

.count_list li {
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
}

.count_list li:first-child {
    border: none;
}

.count_list li span {
    overflow: hidden;
}

.count_list li em {
    float: right;
    font-style: normal;
    color: #cacaca;
    font-weight: 400;
}

#sidebar ul.count_list li {
    margin: 0;
    padding: 11px 0;
}

.filter_form {
    margin: 0 0 11px;
}

#sidebar ul.count_list li:first-child {
    padding-top: 0;
}

.count_list {
    overflow: hidden;
}

.pages_content #content {
    float: right;
    width: 76%;
}

.posts {
    letter-spacing: -5px;
}

.posts:after {
    display: block;
    clear: both;
    content: "";
}

.posts * {
    letter-spacing: 0;
}

.posts li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 0 5px 20px;
    border-radius: 7px;
    overflow: hidden;
}

.masonry .posts li:hover .holder {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.3);
}

.post_cap {
    background: #f7f7f7;
    overflow: hidden;
    padding: 13px 16px 23px;
    border-radius: 0 0 7px 7px;
}

.post_cap .share {
    overflow: hidden;
    font-size: 13px;
    padding: 0 0 15px;
}

.post_cap .share em {
    float: right;
    font-size: 15px;
}

.post_cap .share em a {
    color: #9c9c9c;
}

.post_cap .share span {
    overflow: hidden;
}

.posts li a {
    color: #002878;
}

.masonry .posts li a {
    font-size: 24px;
    line-height: 29px;
}

.posts li img {
    border-radius: 7px 7px 0 0;
}

.blog-posts .posts li img {
    height: 300px;
    object-fit: cover;
}

.manuals li {
    width: 50%;
    padding: 0 10px 20px;
    overflow: visible;
}

.manuals .manual_holder {
    padding: 14px;
    overflow: hidden;
    border-radius: 7px;
    background: #f7f7f7;
}

.manuals .manual_holder:hover {
    box-shadow: 0px 2px 19px 0 rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}

.manuals li img {
    float: left;
    max-width: 145px;
    border-radius: 13px;
}

.manuals li .txt {
    padding-left: 21px;
    overflow: hidden;
}

.manuals li .txt h2 {
    margin: 0 0 12px;
    font-weight: 400;
    font-size: 18px;
    color: #01267f;
}

.manuals.certifications li .txt h2 {
    font-size: 34px;
    line-height: 38px;
}

.manuals li .txt p {
    margin: 0 0 14px;
    font-weight: 300;
    font-size: 14px;
}

.manuals li .txt .pdf_btn {
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: 1px solid #01267f;
    padding: 9px 13px;
}

.manuals li .txt .pdf_btn img {
    width: auto;
    float: left;
    margin-right: 7px;
}

.certifications li {
    display: block;
    width: 100%;
}

.catpcha_img {
    max-width: 100%;
}

.full_img.img-responsive {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

#nav .four_cols.fluid {
    padding: 35px 0 0;
    max-width: 1448px;
}

.left_side {
    float: left;
    width: 270px;
    background: #01267f;
}

#nav .left_side ul {
    padding: 10px 0 10px 20px;
}

#nav .left_side li {
    display: block;
    margin: 0;
    padding: 0;
}

#nav .left_side a {
    color: #fff;
    font-size: 15px;
    display: block;
    padding: 9px 11px;
    border-radius: 6px 0 0 6px;
}

#nav .left_side li.active a,
#nav .left_side a:hover {
    background: #fff;
    color: #05246e;
}

.menu_holder {
    overflow: hidden;
}

#nav .menu_holder .four_cols {
    display: block !important;
    position: static;
    padding: 0;
}

#nav .menu_holder .four_cols .col {
    width: 32%;
    text-align: left;
    padding: 20px 18px;
    border-top: 1px solid #eee;
    border-left: none;
    margin: 0 4px;
}

#nav .menu_holder .four_cols .col:nth-child(1),
#nav .menu_holder .four_cols .col:nth-child(2),
#nav .menu_holder .four_cols .col:nth-child(3) {
    border-top: none;
}

#nav .menu_holder .four_cols img {
    float: left;
    width: auto;
    height: 100px;
    object-fit: contain;
    max-width: 100px;
}

#nav .menu_holder .four_cols .txt {
    overflow: hidden;
    padding-left: 20px;
    font-weight: 300;
    font-size: 13px;
}

#nav .menu_holder .four_cols .txt span {
    display: block;
    font-size: 12px;
}

.nav_opener {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    font-size: 22px;
    display: none;
}

.gallery a.img_holder {
    color: #213b70;
}

#footer ul li p {
    color: #9e9e9e;
    font-size: 14px;
    margin: 5px 0 !important;
}

#nav .menu_holder .four_cols .txt span a:hover,
#nav .four_cols .col a:hover {
    text-decoration: underline;
}


/*masonary starts*/

.masonry {
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: 0.85em;
}

.item {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.item img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


/*masonary ends*/

#sidebar.right {
    float: right;
}

#content.left {
    float: left;
}

#content.center {
    float: none !important;
    margin: 0 auto;
}

.img_pop_opener {
    cursor: pointer;
}

span.msg.img_pop_opener {
    margin: 10px 0px;
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    text-align: center;
}

.popup_holder {
    max-width: 700px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    padding: 0 15px;
    vertical-align: top;
    position: relative;
}

.popup_holder img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.popup_holder iframe {
    width: 100%;
    display: block;
    height: 300px;
}

.pop_closer {
    position: absolute;
    background: #000;
    color: #fff;
    font-size: 16px;
    top: -10px;
    right: 0;
    padding: 2px 6px;
    border-radius: 100%;
}

.projects li a {
    display: block;
    color: #383838;
}

.back_tray {
    position: absolute;
    left: 0;
    font-size: 20px;
    margin: 0 10px;
    display: none !important;
}

.login_form .invalid-feedback {
    display: block;
    margin-top: -15px;
    color: #ff0000;
}

.login_form .invalid-feedback strong {
    margin: 0 0 10px;
    display: block;
    font-weight: 300;
    font-size: 14px;
}

.top_header .goog-te-gadget-simple span {
    padding: 0 0px;
}

iframe.goog-te-menu-frame {
    max-width: 100% !important;
}

iframe.goog-te-menu-frame .goog-te-menu2-item {
    max-width: 100% !important;
    overflow-x: scroll !important;
    box-sizing: border-box !important;
    height: auto !important;
}

.blue-btn,
.blue-btn a {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #01267f;
    border-radius: 30px;
    background: #01267f;
    color: #fff;
    padding: 8px 13px;
    margin-right: 10px;
    font-weight: normal;
}

.blue-btn:hover,
.blue-btn a:hover {
    color: #fff;
    text-decoration: none;
}

.calender-btn-title {
    font-size: 14px;
}

.request-quote-form {
    /*    background: #f3f3f3;*/
    padding: 50px 50px;
    max-width: unset;
    width: 100%;
    margin-bottom: 70px;
}

.request-quote-form .sec_heading {
    color: #01267f;
    margin: 0px 0px 30px 0px;
    font-weight: 500;
}

.container.blog {
    margin-bottom: 50px;
}

.blog .text h1 {
    font-size: 22px;
    font-weight: normal;
    color: #383838;
    margin: 0 0 5px 0px;
    line-height: 40px;
}

.blog .featured-image {
    margin: 30px 0px 40px 0px;
}

.blog .featured-image img {
    width: 100%;
    border-radius: 20px;
    max-height: 300px;
    object-fit: cover;
}

.blog .text p {
    font-weight: 300;
    font-size: 15px;
}

#required-login .popup_holder {
    background: #fff;
    border-radius: 20px;
    padding: 25px;
}

#required-login .popup-title {
    color: #01267f;
    margin: 0px 0px 15px 0px;
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}

#required-login .popup-content {
    margin: 0 0 16px;
    font-size: 14px;
    line-height: 25px;
}

#required-login .login-popup-btn a {
    display: block;
    width: 100%;
    clear: both;
    margin-bottom: 15px;
    text-transform: uppercase;
    font: 600 13px/17px "Poppins", sans-serif;
}

#required-login .login-popup-btn.btn-close a {
    border: 1px solid #bcbcbc;
    padding: 8px 0px;
    border-radius: 40px;
}

.nothing-found {
    color: #636363;
    font-weight: 300;
    font-size: 18px;
    display: block;
}

.share-listing {
    background: #f6f6f6 none repeat scroll 0 0;
    box-shadow: 0 0 2px #ccc;
    display: none;
    padding: 5px 10px;
    position: absolute;
    width: auto;
    z-index: 7;
    right: 5px;
    margin-top: -45px;
}

.share-listing ul li {
    width: auto;
    padding: 0px 5px;
    border-radius: 0px;
}

.masonry .posts .share-listing ul li a,
.contact-page .share-listing ul li a {
    font-size: 16px;
    color: #616161;
}

.masonry .posts .share-listing ul li a:hover,
.contact-page .share-listing ul li a:hover {
    color: #002878;
}

.contact-page .share-listing {
    margin-top: -30px;
}

.contact-page .share-listing ul li {
    display: inline-block;
    margin: 0px;
}

#faq-search-form {
    /* This bit sets up the horizontal layout */
    display: flex;
    flex-direction: row;
}

#faq-search-form input {
    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    border: none;
}

#faq-search-form input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}

#faq-search-form button {
    /* Just a little styling to make it pretty */
    background: url(../images/search_icon2.png) no-repeat 0% 50%;
    color: transparent;
    border: none;
    outline: none;
    padding: 0px 10px;
    margin-right: 10px;
}

.captcha-error-message,
.success-message {
    display: none;
}

.error-message,
.captcha-error-message {
    color: #ff0000;
}

.success-message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #193d85;
    border: 1px solid #193d85;
    padding: 10px 0px;
}

#back-to-top-scroll {
    position: fixed;
    right: 10px;
    bottom: 20px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #0FBBE5;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    display: none;
}

#back-to-top-scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff;
}

#back-to-top-scroll:hover {
    background-color: #193d85;
}

.update-information-form {
    margin-bottom: 30px;
}

.user-details-wrapper,
.user-downloads-wrapper {
    width: 100%;
    margin-bottom: 50px;
}

.profile-info-wrapper,
.password-info-wrapper {
    display: inline-block;
}

.profile-info-wrapper {
    width: 65%;
}

.password-info-wrapper {
    width: 30%;
}

.password-info-wrapper .update-information-form .field_col {
    width: 100%;
}


/* .profile-info-wrapper,
.password-info-wrapper {
    border: 1px solid #d5d5d5;
    padding: 20px;
} */

.profile-info-wrapper {
    margin-right: 30px;
}

.update-information-form .sec_header {
    margin: 0px;
}

.watermarked-image {
    position: relative;
}

.watermarked-image:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("http://placehold.it/100x100/09f/fff.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.mobile_view {
    display: none;
}

.font-weight {
    font-weight: 700;
}

.search-page {
    margin: 50px 0px;
}

.searched-links {
    list-style: none;
    padding-left: 0px;
}

.searched-links li a {
    color: #9e9e9e;
}

.searched-links li a:hover {
    text-decoration: underline;
    color: #01267F;
}

.userlogin-mobile ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.userlogin-mobile li {
    color: #000;
    background: #fff;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}

.userlogin-mobile li a {
    color: #000;
}

.userlogin-mobile li:hover {
    cursor: pointer;
}

.userlogin-mobile ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 100px;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0px;
    right: 0;
    display: none;
    z-index: 10;
}

.userlogin-mobile ul li:hover>ul,
.userlogin-mobile ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.userlogin-mobile ul li ul li {
    clear: both;
    width: 100%;
    padding: 5px 10px;
}


/* The alert message box */

.alert {
    padding: 10px;
    /* Red */
    color: white;
    margin-bottom: 15px;
    font: 400 16px/21px "Heebo", sans-serif;
}

.alert.alert-danger {
    background-color: #f44336;
}

.alert.alert-success {
    background-color: #01267F;
}


/* The close button */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


/* When moving the mouse over the close button */

.closebtn:hover {
    color: black;
}

.submit_field .submit-btn,
#join-list-form .submit-btn {
    text-align: center;
}

.contact_form input[type="submit"],
.update-information-form input[type="submit"],
#join-list-form input[type="submit"] {
    display: inline-block;
}

#join-list-form .submit-btn {
    margin-top: 19px;
}

.ajax-loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 30px;
    height: 30px;
    -webkit-animation: ajax-spin 2s linear infinite;
    animation: ajax-spin 2s linear infinite;
    vertical-align: middle;
}

.ajax-loader.hide {
    display: none;
}

.ajax-loader.show {
    display: inline-block;
}

.cart_wrap {
    border-left: 1px solid #cacaca !important;
    position: relative;
}


/***cart code start***/

.shopping-cart {
    margin: 20px 0;
    right: 20px;
    top: 5px;
    background: white;
    min-width: 400px;
    position: absolute;
    border-radius: 3px;
    padding: 20px;
    z-index: 99999;
    display: none;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.shopping-cart .shopping-cart-items {
    padding-top: 0px;
    padding-left: 0;
}

.shopping-cart .shopping-cart-items li {
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    list-style: none;
    background: #f7f7f7;
}

.shopping-cart .shopping-cart-items .cart-img {
    display: table-cell;
    width: 65px;
    height: 65px;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.shopping-cart .shopping-cart-items .cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shopping-cart .shopping-cart-items .cart-title {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    color: #000;
}

.shopping-cart .shopping-cart-items .cart-remove {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.item-delete {
    color: #ff0000;
    background: transparent;
    border: none;
    margin-right: 5px;
    font-weight: 600;
    cursor: pointer;
}

.cart_btn_wrap {
    text-align: center;
}

.cart-btn {
    background: #01267F;
    color: #fff !important;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
    display: block;
    border-radius: 25px;
    font-size: 16px;
    margin: 25px 0 15px 0;
    text-transform: uppercase;
}

.cart-btn:hover {
    background: #0FBBE5;
}

.enquiry-list_wraper {
    /* padding: 0px 50px; */
    margin-top: 50px;
}

ul.enquiry-list {
    padding: 0;
}

.enquiry-list li {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    list-style: none;
    background: #f7f7f7;
    padding: 15px 45px 15px 20px;
    border-radius: 5px;
}

.enquiry-list_wraper .secheading {
    color: #01267f;
    margin: 0px 0px 10px 0px;
    font-weight: 500;
    text-align: left;
}

.enquiry-list_wraper .enquiry-list li .cart-img,
.enquiry-list_wraper .enquiry-list li .en-cart-title_wrap,
.enquiry-list_wraper .enquiry-list li .enq-cart-remove {
    display: inline-block;
    vertical-align: middle;
}

.enquiry-list_wraper .enquiry-list li .cart-img img {
    max-height: 50px;
    object-fit: contain;
}

.enquiry-list_wraper .enquiry-list li .en-cart-title_wrap {
    position: absolute;
    margin-left: 20px;
}

.enquiry-list_wraper .enquiry-list li .en-cart-title_wrap.no-product-enquire {
    position: relative;
}

.enquiry-list li .en-cart-title {
    padding: 10px;
    font-size: 16px;
    color: #000;
    display: block;
    font-weight: 500;
}

.enquiry-list li .enq-cart-remove {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    width: 24px;
    height: 24px;
}


/**cart code end**/

@-webkit-keyframes ajax-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes ajax-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.register-checkbox-alerts .label_holder {
    width: 100%;
}

.register-checkbox-alerts .label_holder .form-check-input#terms {
    width: 0px;
    margin-right: -18px;
}

.fields label.error {
    color: #ff0000;
    margin-top: -15px;
    margin-bottom: 15px;
    display: block;
    width: 100%;
}

.qty-wrap {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 38px;
    text-align: center;
}

.qty-wrap span {
    font-size: 16px;
    color: #000;
    font-weight: 500;
}

.qty-wrap input {
    width: 60px;
    display: inline-block;
    text-align: center;
}

.cart_wrap .btncart {
    position: relative;
}

.cart_wrap .btncart .cart-count {
    position: absolute;
    padding: 0;
    top: -5px;
    right: -9px;
    width: 15px;
    height: 15px;
    display: block;
    font-size: 9px;
    font-weight: 600;
    color: #fff;
    background-color: #01267F;
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    -webkit-box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -1px 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.product_galery .alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 1rem 0rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.product_galery .request-a-quote-message {
    display: none;
}

.sh-p-gallery-thumb a.slick-arrow::before {
    content: '';
}

.sh-p-gallery-thumb a.slick-arrow img {
    width: 12px;
}

.enquiry-list .cart-img {
    width: 65px;
}

.enquiry-list .cart-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page.site-map ul li a,
.page.site-map ul li strong {
    color: #454545;
}

.page.site-map ul li a:hover {
    color: #01267F;
}