@media (max-width: 1321px) {
    .nav_holder .align_right {
        width: 34%;
    }
    .search_form input {
        width: calc(100% - 71px);
        font-size: 13px;
    }
    .btn_cart {
        margin-left: 15px;
        font: 600 12px/17px "Poppins", sans-serif;
    }
}

@media (max-width: 1312px) {
    #nav li {
        margin-right: 20px;
    }
    .nav_holder .align_right {
        width: 38%;
    }
    #nav .four_cols strong {
        font-size: 13px;
    }
    .masonry .posts li a {
        font-size: 20px;
        line-height: 25px;
    }
    .event .txt {
        width: 66%;
    }
}

@media (max-width: 1315px) {
    .nav_holder .align_right {
        width: 30%;
    }
    #nav li {
        margin-right: 13px;
    }
    .search_form input[type="submit"] {
        padding: 0px 7px;
    }
    .search_form input {
        width: calc(100% - 61px);
    }
    .search_form {
        padding: 0 0px 0px 0px;
    }
    .btn_cart {
        margin-left: 5px;
        font: 600 12px/17px "Poppins", sans-serif;
        padding: 11px 10px;
    }
}

@media (max-width: 1279px) {
    #nav .menu_holder .four_cols .col {
        width: 31%;
        padding: 20px 8px;
    }
    #nav .menu_holder .four_cols .col img {
        max-width: 40px;
    }
    #nav .four_cols.fluid {
        padding: 36px 15px 0;
    }
    .logo img {
        max-width: 160px;
    }
    #nav {
        padding-left: 18px;
    }
    #nav li {
        margin-right: 5px;
    }
    .search_form {
        width: 50%;
        padding: 0 0 0 0px;
    }
    .btn_cart {
        margin-left: 10px;
        font-size: 12px;
    }
    .search_form input {
        width: calc(100% - 63px);
        font-size: 12px;
    }
    .nav_holder .align_right {
        width: 34%;
        padding: 6px 0 0;
    }
    .top_header .left {
        font-size: 12px;
    }
    .top_header .right {
        max-width: 62%;
    }
    .top_header span {
        padding: 0 5px;
    }
    .top_header .right {
        font-size: 11px;
    }
    .culture .caption {
        padding: 0 30px;
    }
    .grow .text h3 {
        font-size: 24px;
        margin: 0 0 4px;
        line-height: 27px;
    }
    .grow .text p {
        margin: 0 0 13px;
    }
    .culture .caption strong {
        font-size: 16px;
        margin: 0 0 5px;
    }
    .culture .caption p {
        margin: 0;
        font-size: 13px;
        line-height: 17px;
    }
    .jobs {
        padding: 15px 0;
        overflow: hidden;
    }
    .culture {
        padding: 15px 0 25px;
        background: #f2f2f2;
        overflow: hidden;
    }
    .grow {
        overflow: hidden;
        padding: 30px 0;
    }
    .manuals li .txt .pdf_btn {
        padding: 9px 13px;
        font-size: 13px;
    }
    .login_form {
        width: 48%;
    }
    .thumb_holder {
        width: 58px;
        height: 56px;
        padding: 17px 0;
    }
    .thumb_holder img {
        width: 42px;
    }
    .b_part .left a {
        font-size: 12px;
        padding: 6px 6px;
        margin-right: 5px;
    }
    .b_part .social_icons {
        padding: 6px 0 0;
    }
    .col_caption {
        padding: 10px 20px;
    }
    .col_caption .title {
        margin: 0 0 8px;
    }
    .col_caption p {
        margin: 0 0 5px;
    }
    .col_caption ul li {
        padding: 0 0 4px 15px;
    }
    #nav .four_cols {
        padding: 36px 15px 0 140px;
    }
    .masonry .posts li a {
        font-size: 18px;
        line-height: 23px;
    }
    .search_form input {
        width: calc(100% - 38px);
        font-size: 12px;
    }
    #nav .four_cols {
        max-width: 452px;
    }
    #nav>ul>li.has-drop:nth-child(2) .four_cols.vertical-menu-item {
        left: 195px;
    }
    #nav>ul>li.has-drop:nth-child(3) .four_cols.vertical-menu-item {
        left: 325px;
    }
    .search_form input[type="submit"] {
        padding: 0px 0px;
        background-color: #01267F;
        color: transparent;
        background: #01267F url("../images/search_icon.png") no-repeat center;
        width: 38px;
    }
    #nav .four_cols {
        top: 57%;
    }
}

@media (max-width: 1227px) {
    .search_form input {
        width: calc(100% - 45px);
    }
}

@media (max-width: 1240px) {
    .nav_holder .align_right {
        width: 33%;
    }
}

@media (max-width: 1204px) {
    .nav_holder .align_right {
        width: 31%;
    }
}

@media (max-width: 1170px) {
    .nav_holder .align_right {
        width: 32%;
    }
    #nav li {
        font-size: 13px;
    }
}

@media (max-width: 1120px) {
    .btn_cart {
        margin-left: 5px;
        font-size: 10px;
    }
    .search_form {
        width: 52%;
    }
    .search_form input {
        width: calc(100% - 38px);
        font-size: 10px;
    }
    .btn_cart img {
        margin: 0 2px 0 0;
    }
    #nav li {
        margin-right: 5px;
    }
    #nav>ul.list_none>li {
        padding: 8px 5px;
        margin-right: 0px;
    }
}
@media (min-width: 1921px) {
    .top_header span {
        padding: 0 8px;
    }
    .top_header .right {
        font-size: 12px;
    }

}
@media (max-width: 1067px) {
    .nav_holder .align_right {
        width: 27%;
    }
}
@media (max-width: 1920px) {
    .top_header .left {
        max-width: 33%;
    }
    .top_header .right {
        max-width: 65%;
    }
}
@media (min-width: 1024px) {
    .enquiry-list_wraper .enquiry-list li .en-cart-title_wrap {
        position: unset;
        width: 400px;
        vertical-align: middle;
    }
    .enquiry-cart-page .enquiry-list .qty-wrap {
        position: unset;
    }
    .enquiry-cart-page .enquiry-list .qty-wrap {
        margin-left: 20px;
    }
    .enquiry-cart-page .enquiry-list li .enq-cart-remove {
        float: right;
    }
}

@media screen and (max-width: 1112px) and (min-width: 1025px) {
    #nav .four_cols {
        top: 57%;
        max-width: 452px;
    }
    #nav>ul>li.has-drop:nth-child(2) .four_cols.vertical-menu-item {
        left: 170px;
    }
    #nav>ul>li.has-drop:nth-child(3) .four_cols.vertical-menu-item {
        left: 272px;
    }
}

@media (max-width: 1050px) {
    .search_form input[type="submit"] {
        width: 35px;
    }
    .search_form input {
        width: calc(100% - 35px);
        padding: 5px 2px 5px 5px;
    }
    .btn_cart {
        padding: 11px 8px;
    }
    #nav {
        padding-left: 10px;
    }
    #nav li {
        font-size: 12px;
    }
    .nav_holder .align_right {
        width: 30%;
    }
}

@media (max-width: 1024px) {
    #nav>ul.list_none>li {
        padding: 8px 5px;
    }
    #nav li {
        margin-right: 5px;
    }
    #nav .four_cols {
        top: 57%;
        max-width: 452px;
    }
    .nav_holder .align_right {
        width: 31%;
    }
    #nav {
        padding-left: 15px;
        font-size: 13px;
    }
    #nav>ul>li.has-drop:nth-child(2) .four_cols.vertical-menu-item {
        left: 165px;
    }
    #nav>ul>li.has-drop:nth-child(3) .four_cols.vertical-menu-item {
        left: 270px;
    }
}

@media (max-width: 999px) {
    .masonry .posts li a {
        font-size: 16px;
        line-height: 21px;
    }
    .nav_opener {
        display: block;
        top: 45%;
    }
    .login_form input {
        width: 76%;
    }
    .login_form input[type="submit"] {
        width: 130px;
    }
    .map_area {
        margin-top: 40px;
        padding: 40px 15px;
    }
    .map_holder {
        width: 58%;
    }
    .map_area .text {
        width: 39%;
    }
    .manuals li .txt h2 {
        font-size: 16px;
    }
    .manuals li .txt {
        width: 100%;
        padding: 10px 0 0;
        overflow: hidden;
    }
    .top_header .left {
        font-size: 12px;
        float: none;
        text-align: center;
        max-width: none;
        margin: 0 0 11px;
        padding-top: 30px;
    }
    .top_header .right {
        max-width: none;
        width: 100%;
        text-align: center;
    }
    .nav_holder .align_right {
        /*display: none;*/
        padding-right: 25px;
    }
    .top_header span:last-child {
        border: none;
    }
    .desktop_view {
        display: none !important;
    }
    .nav_opener {
        font-size: 30px;
    }
    .nav_opener span {
        position: absolute;
        font-size: 11px;
        color: #01267F;
        top: 23px;
        right: -1px;
    }
    .imgwrap {
        vertical-align: middle;
        padding-top: 5px;
    }
    .search_form {
        width: calc(100% - 50px);
        padding: 0;
        margin-right: 10px;
        margin-top: 3px;
    }
    .search_form input {
        width: calc(100% - 38px);
    }
    .search_form input[type="submit"] {
        padding: 0px 0px;
        background-color: #01267F;
        color: transparent;
        background: #01267F url("../images/search_icon.png") no-repeat center;
        width: 38px;
    }
    .btn_cart {
        display: none;
    }
    .gallery .img_holder span {
        font-size: 12px;
        padding: 0 20px;
    }
    .featured_product {
        max-width: 614px;
    }
    .slide_txt {
        padding: 0 40px 0 35px;
    }
    .newsletter_area .col:last-child {
        background: #fff;
    }
    .newsletter_area {
        background-size: cover;
    }
    .rights {
        padding: 15px 0;
    }
    #nav {
        position: absolute;
        left: 0;
        padding: 0;
        width: 100%;
        top: 100%;
        background: #fff;
        z-index: 5;
        display: none;
    }
    #nav li {
        margin: 0;
        padding: 0;
        display: block;
        text-align: center;
    }
    #nav li a {
        display: block;
        padding: 7px 0;
    }
    #header {
        position: relative;
        overflow: visible;
    }
    #header:after {
        display: block;
        clear: both;
        content: "";
    }
    .top_header {
        padding-top: 50px;
        position: relative;
    }
    .top_header .langwrap {
        /*        display: none;*/
        position: absolute;
        top: -37px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .mobile_view {
        display: inline-block;
    }
    .banner_caption h1 {
        margin: 0 0 10px;
        font-size: 30px;
        line-height: 34px;
    }
    .banner.home {
        height: 230px;
    }
    .gallery .slide_holder {
        width: 25%;
    }
    /* .gallery .slide .slide_holder:nth-child(3),
    .gallery .slide .slide_holder:nth-child(4) {
        display: none;
    } */
    .gallery .slide_holder {
        padding: 0 4px;
    }
    .gallery .img_holder span {
        padding: 0;
        min-height: 40px;
    }
    .featured_product {
        max-width: 394px;
    }
    .featured_product img {
        max-width: 130px;
    }
    .slide_txt {
        padding: 0 12px;
    }
    .slide_txt strong {
        margin: 0 0 5px;
        font-size: 18px;
        line-height: 22px;
    }
    .slide_txt p {
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 17px;
    }
    .gallery .pagination {
        padding: 0;
    }
    .featured_products {
        padding: 20px 0 0;
    }
    .sec_heading {
        margin: 0 0 10px;
    }
    .hightlights ul li .txt .title {
        font-size: 16px;
        line-height: 20px;
        left: 10px;
    }
    .hightlights ul li .txt {
        padding: 12px 6px;
    }
    .hightlights ul li .txt .title br {
        display: none;
    }
    .hightlights ul li:first-child {
        width: 55%;
    }
    .hightlights ul li {
        width: 41%;
        height: 180px;
    }
    .newsletter_area .col {
        padding: 40px 15px;
    }
    .socials li a {
        width: 37px;
        height: 37px;
        font-size: 15px;
        padding: 8px 0 0;
    }
    .mail_form .title {
        font-size: 15px;
        line-height: 16px;
        margin: 0 0 13px;
    }
    #footer .col {
        width: 50%;
    }
    .rights {
        font-size: 12px;
    }
    #footer .rights ul li {
        font-size: 12px;
    }
    .banner {
        height: 129px;
    }
    .product_tabs li a,
    .pages li a {
        font-size: 11px;
        padding: 0 3px;
    }
    .product_tabs li,
    .pages li {
        vertical-align: top;
        margin-right: 5px;
    }
    .pages_content #sidebar,
    #sidebar {
        width: 37%;
    }
    .pages_content #content,
    #content {
        width: 61%;
    }
    .posts li {
        width: 50%;
        padding: 0 3px 8px;
    }
    .post_cap {
        padding: 3px 6px 13px;
    }
    .post_cap .share {
        overflow: hidden;
        font-size: 10px;
        padding: 0 0 5px;
    }
    .posts li a {
        font-size: 11px;
        line-height: 15px;
    }
    .grow .text {
        float: none;
        width: 100%;
        overflow: hidden;
    }
    .grow .slider {
        max-width: 500px;
        margin: 0 auto;
        float: none;
        width: 100%;
        overflow: hidden;
    }
    .culture ul li {
        width: 50%;
        padding: 0 3px 6px;
    }
    .posts li {
        width: 100%;
        padding: 0 3px 8px;
        display: block;
    }
    .event .txt {
        width: 65%;
    }
    .event .txt h2 {
        font-size: 21px;
        margin: 0 0 4px;
        line-height: 26px;
    }
    .event {
        padding: 11px 8px;
    }
    .event .img_holder {
        width: 136px;
    }
    .cart_btn {
        max-width: 143px;
    }
    .product_galery {
        padding: 10px 0 0;
    }
    .product_galery h2 {
        margin: 0 0 10px;
        font-size: 21px;
    }
    .b_part .social_icons {
        padding: 0 0 10px;
        float: none;
        overflow: hidden;
    }
    .slide .thumb_holder:nth-child(5),
    .slide .thumb_holder:nth-child(6) {
        display: none;
    }
    .tab_visual {
        padding: 0;
    }
    .video_holder.extras {
        margin: 10px auto 0;
        padding-top: 10px;
    }
    .product_upper .text h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .projects strong {
        font-size: 12px;
    }
    .projects li {
        padding: 0 7px 14px;
    }
    .twocols .col {
        width: 49.5%;
    }
    .who-we-are .twocols.three .col:first-child {
        margin-right: 15px;
    }
    .twocols .col img {
        height: 203px;
    }
    .col_caption ul li {
        font-size: 12px;
    }
    .col_caption {
        padding: 10px 5px;
    }
    .twocols.three .col_caption p {
        font-size: 13px !important;
        line-height: 16px !important;
        font-weight: 300;
    }
    .events_area {
        padding: 50px 15px 10px;
    }
    #nav li.has-drop {
        background-position: 95.5% 14px;
    }
    #nav .four_cols.fluid,
    #nav .four_cols {
        padding: 45px 15px 0;
        max-width: 1448px;
        position: static;
        padding: 0 !important;
    }
    #nav .four_cols.fluid .holder {
        padding-top: 0;
        /* height: auto; */
        overflow: auto;
        /* min-height: 300px; */
        max-height: 570px;
    }
    /* .left_side {
    float: none;
    width: 100%;
    background: #01267f;
    overflow: hidden;
  } */
    /* .menu_holder {
    width: 100%;
    clear: both;
    overflow: hidden;
  } */
    #nav .menu_holder .four_cols {
        display: block !important;
        position: static;
    }
    #nav .menu_holder .four_cols .col {
        width: 100%;
        padding: 7px 8px;
        margin: 0;
        border: none !important;
    }
    #nav .four_cols .col,
    #nav .four_cols.three .col {
        display: inline-block;
        width: 100%;
    }
    #nav li.has-drop:nth-child(2) .four_cols.vertical-menu-item .col {
        width: 30%;
    }
    #nav li.has-drop:nth-child(3) .four_cols.vertical-menu-item .col {
        width: 24%;
    }
    #nav li.has-drop .four_cols.vertical-menu-item .col .col-information {
        text-align: center;
        width: 100%;
    }
    #nav ul>li.active,
    #nav ul>li:hover {
        background-color: inherit;
        border-radius: 0px;
    }
    #nav ul>li.active>a,
    #nav ul>li:hover>a {
        color: #141414;
    }
    #footer .title {
        font-weight: 700;
        color: rgb(10, 19, 125);
    }
    .font-weight {
        font-weight: 300;
    }
    #nav .four_cols.vertical-menu-item .col .col-icon {
        margin: 0 auto;
    }
    #nav .four_cols .col .col-information {
        padding-left: 0;
    }
    .b_part .social_icons {
        padding: 0px 0 0px;
        position: relative;
        top: 7px;
    }
    .login {
        height: 100%;
    }
    .register-left-side {
        width: 50%;
    }
    .login_form {
        width: 50%;
    }
    .btn_cart {
        position: absolute;
        top: -33px;
        right: 15px;
        padding: 9px 15px;
        color: #fff !important;
    }
    .top_header .langwrap {
        max-width: 200px;
        border-left: none;
    }
    .qty-wrap {
        right: 50px;
        left: auto;
    }
    .enquiry-list_wraper .enquiry-list li .en-cart-title_wrap {
        width: calc(100% - 270px);
    }
}


/* #nav li:hover .four_cols {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  } */

@media (max-width: 840px) {
    .login {
        height: 100vh;
    }
    .login_form {
        padding: 60px 15px 60px 15px;
    }
}

@media (max-width: 823px) {
    .login {
        height: 100%;
    }
}

@media (max-width: 800px) {
    .login {
        height: 100vh;
    }
    .login_form select {
        width: 80%;
    }
    .sh-p-gallery-thumb .slick-arrow.slick-prev {
        left: -12px;
    }
}

@media (max-width: 767px) {
    .top_header .left p {
        margin-top: 25px;
    }
    .login {
        height: 100vh;
        overflow-y: auto;
    }
    .register-left-side {
        width: 100%;
        float: none;
        position: static;
        margin-top: 50px;
        top: auto;
    }
    .login_form {
        width: 100%;
    }
    .nav_holder .align_right {
        width: 50%;
    }
    .login_form form {
        max-width: 80%;
        margin: 0 auto;
    }
    .login {
        background-position: left center;
    }
    .login_form .row {
        background: rgba(0, 0, 0, 0.4);
    }
    .twocols .col {
        width: 100%;
        float: none;
        overflow: hidden;
        margin: 0 0 10px;
    }
    .who-we-are .twocols .col {
        width: 100%;
    }
    .twocols.three .col {
        width: 49%;
    }
    .who-we-are .twocols.three .col {
        width: 49%;
    }
    .who-we-are .twocols.three .col:first-child {
        margin-right: 5px;
    }
    .twocols.three .col:last-child {
        width: 100%;
        float: none;
        overflow: hidden;
    }
    .who-we-are .twocols.three .col:last-child {
        width: 100%;
    }
    .twocols.three .col img {
        height: 220px;
    }
    .product_upper .text {
        overflow: hidden;
        padding: 10px 0 0;
        clear: both;
        width: 100%;
    }
    .product_upper .vid_holder {
        float: none;
        max-width: 407px;
        overflow: hidden;
        margin: 0 auto;
    }
    .products_list li {
        width: 24%;
    }
    .product_galery .align_left,
    .product_galery .align_right {
        float: none;
        width: 100%;
        overflow: hidden;
    }
    .product_galery .align_right {
        padding: 10px;
    }
    .b_part .left a {
        margin: 0 0 10px;
    }
    .event {
        position: relative;
    }
    .detail_btn {
        float: none;
        margin: 0 0 20px;
        display: inline-block;
        vertical-align: top;
        clear: both;
    }
    .product_tabs,
    .pages {
        margin: 0 0 10px;
    }
    .event .img_holder {
        float: none;
        overflow: hidden;
    }
    .event .txt {
        padding: 10px 0 0;
        width: 100%;
    }
    .event .txt h2 a {
        font-size: 12px;
    }
    .map_area h2 {
        font-size: 17px;
        line-height: 23px;
        margin: 0 0 4px;
    }
    .contact_form {
        padding: 10px 15px;
    }
    .enquiry-list_wraper {
        padding: 10px 15px;
    }
    .contact_form .field_row .field_col {
        width: 100%;
        display: block;
    }
    .catpcha_img {
        display: block;
        margin: 0 auto;
    }
    .contact_form p {
        margin: 0 0 14px;
    }
    .q_searcher {
        margin: 0 auto 20px;
    }
    .faqs .job_opener {
        font-size: 12px;
        line-height: 17px;
    }
    .login_form {
        padding: 15px;
    }
    .login_form .row {
        margin: 0 0 6px;
        padding: 3px 10px;
    }
    .fields label.error {
        margin-top: 0px;
    }
    .login_form .img_holder {
        margin-right: -3px;
        border-right: 1px solid #8d9abb;
        padding: 0 6px 0 0;
    }
    .login_form input {
        width: 79%;
        font-size: 12px;
    }
    .login_form input[type="submit"] {
        width: 130px;
        float: none;
        margin: 0 auto;
        display: block;
        clear: both;
        overflow: hidden;
    }
    .user_links a {
        width: 100%;
        display: block;
        float: none;
    }
    .user_links:after {
        display: none;
    }
    .event.p_cat_details {
        display: table;
    }
    .event.p_cat_details .detail_btn_holder {
        display: table-footer-group;
        height: 70px;
    }
    .event.p_cat_details .detail_btn_holder a {
        margin-top: 15px;
    }
    .left_side {
        float: none;
        width: 100%;
        background: #01267f;
    }
    #nav .four_cols.fluid .menu_holder {
        position: absolute;
        left: 0;
        z-index: 5;
        width: 100%;
        display: block !important;
        top: 0;
        transform: translate(100%, 0);
        transition: all 0.5s ease;
    }
    #nav .four_cols.fluid .menu_holder.active {
        transform: translate(0, 0);
        background: #fff;
        height: 100%;
    }
    .back_tray {
        left: 10px;
        display: block !important;
    }
    #nav .tab-content .four_cols .holder {
        padding-left: 30px;
    }
    #nav .four_cols.fluid .menu_holder .tab-content {
        margin-top: 40px;
    }
    .back_tray .fa {
        font-weight: 900;
        font-size: 24px;
        color: rgb(10, 19, 125);
        -webkit-text-stroke: 2px rgb(10, 19, 125);
    }
    .back_tray {
        left: 10px;
        line-height: 30px;
        font-size: 21px
    }
    .event_holder {
        /*position: relative;*/
        padding-bottom: 70px;
    }
    .detail_btn {
        position: absolute;
        bottom: 0;
    }
    .password-info-wrapper {
        width: 100%;
        margin-top: 30px;
    }
    .profile-info-wrapper {
        width: 100%;
    }
    #nav .four_cols.fluid .holder {
        min-height: 400px;
        max-height: 600px;
    }
    .translated-rtl .top_header .langwrap {
        position: absolute;
        top: -37px;
        left: 0;
    }
    .translated-rtl .top_header span img {
        margin: 5px 0px 0px 5px;
        float: right;
    }
    .translated-rtl .top_header span:first-child {}
    .translated-rtl .top_header .ewrap:first-child {
        border-left: 1px solid #cacaca;
    }
    .translated-rtl .top_header span {
        border-left: none;
    }
    .nav_opener {
        font-size: 40px;
    }
    .nav_opener span {
        top: 35px;
        right: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
    }
    .nav_opener span {
        font-size: 9px;
    }
    .btn_cart img {
        margin: 0 3px 0 0;
    }
    .shopping-cart {
        right: 0px;
    }
    .product_galery .align_left .slide .thumb_holder {
        padding: 5px 0;
    }
    .top_header .left {
        padding-top: 15px;
    }
    .enquiry-list_wraper .enquiry-list li .cart-img {
        width: 80px;
        vertical-align: top;
    }
    .enquiry-list li .enq-cart-remove {
        right: 10px;
    }
    .enquiry-list_wraper .enquiry-list li .cart-img img {
        width: 100%;
        object-fit: contain;
    }
    .enquiry-list_wraper .enquiry-list li .en-cart-title_wrap {
        width: calc(100% - 200px);
        position: static;
    }
    .qty-wrap {
        right: 35px;
    }
    .qty-wrap span {
        font-size: 12px;
    }
    .enquiry-list_wraper .enquiry-list li .en-cart-title_wrap {
        margin-left: 5px;
    }
    .tab-content #description img.img-responsive {
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 600px) {
    .login {
        height: 100vh;
    }
}

@media (max-width: 568px) {
    .login {
        height: 100vh;
        overflow-y: auto;
    }
}

@media (max-width: 520px) {
    .top_header .langwrap {
        right: auto;
    }
    .enquiry-list li .enq-cart-remove {
        top: 10px;
        bottom: auto;
    }
    .qty-wrap {
        top: 5px;
        bottom: auto;
    }
    .qty-wrap span {
        display: block;
    }
    .enquiry-list_wraper .enquiry-list li .en-cart-title_wrap {
        width: calc(100% - 142px);
    }
}

@media (max-width: 479px) {
    .products_list li {
        width: 49%;
    }
    .rac_head strong {
        font-size: 18px;
        line-height: 19px;
    }
    .products_list li strong a {
        color: #203b70;
        font-size: 13px;
        line-height: 17px;
    }
    .map_holder {
        width: 100%;
        float: none;
        overflow: hidden;
        margin: 0 0 10px;
    }
    .map_area .text {
        overflow: hidden;
        max-width: none;
        width: 100%;
    }
    .map_area .text br {
        display: none;
    }
    #sidebar {
        display: none;
    }
    #content,
    .pages_content #content {
        float: none;
        width: 100%;
    }
    .posts li a {
        font-size: 13px;
        line-height: 17px;
    }
    .posts li {
        width: 100%;
        display: block;
    }
    .logo img {
        max-width: 110px;
    }
    .banner_caption h1 {
        margin: 0 0 10px;
        font-size: 20px;
        line-height: 24px;
    }
    .banner_caption {
        line-height: 18px;
        font-size: 13px;
    }
    .banner.home {
        height: 170px;
    }
    .products {
        padding: 10px 0;
    }
    .sec_heading {
        margin: 0 0 10px;
        font-size: 19px;
        line-height: 23px;
    }
    .gallery .slide_holder {
        width: 100%;
    }
    .gallery .slide .slide_holder:nth-child(2) {
        display: none;
    }
    .explore {
        margin: 0 auto 10px;
    }
    .featured_product .img-holder-wrapper,
    .featured_product img {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
        padding-right: 0;
    }
    .featured_product img {
        margin: 0 auto;
        float: none;
    }
    .featured_product {
        max-width: 90%;
    }
    .slide_txt {
        padding: 0 12px 40px;
        width: 100%;
    }
    .featured_products .mask {
        min-height: auto !important;
    }
    .hightlights ul li {
        width: 100% !important;
        float: none !important;
        margin: 0 0 10px;
    }
    .hightlights {
        margin-bottom: 10px;
    }
    .newsletter_area .col {
        width: 100%;
        float: none;
        overflow: hidden;
    }
    #footer .cols {
        padding: 10px 15px;
    }
    #footer ul a {
        font-size: 12px;
        line-height: 16px;
    }
    #footer .title {
        margin: 0 0 2px;
        font-size: 15px;
    }
    #footer .col {
        margin: 0 0 10px;
        float: none;
        display: block;
        width: 100%;
    }
    #footer {
        text-align: center;
    }
    .rights ul {
        float: none;
        width: 100%;
    }
    .culture ul li {
        width: 100%;
        padding: 0 3px 6px;
        display: block;
    }
    .job_opener {
        font-size: 18px;
    }
    .job {
        padding: 8px 14px;
    }
    .login_form {
        border: none;
        width: 100%;
    }
    .events_area {
        padding: 10px 15px;
    }
    .projects li {
        width: 50%;
    }
    .btn_div {
        padding: 10px 0 0;
    }
    .load_btn {
        padding: 6px 16px;
    }
    table th,
    table td {
        padding: 12px 10px;
        font-size: 11px;
        line-height: 15px;
        word-break: break-all;
    }
    .twocols.three .col:last-child img {
        height: 270px;
    }
    .login_form .row {
        background: rgba(0, 0, 0, 0.3);
    }
    .login_form .row:hover {
        box-shadow: 0px 2px 19px 0 rgba(0, 0, 0, 0.3);
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
    }
    .video_holder iframe {
        height: 163px;
    }
    .product_upper .vid_holder iframe {
        width: 100%;
    }
    #nav li.has-drop:nth-child(2) .four_cols.vertical-menu-item .col {
        width: 100%;
    }
    #nav li.has-drop:nth-child(3) .four_cols.vertical-menu-item .col {
        width: 100%;
    }
    /* #nav li.has-drop .four_cols.vertical-menu-item .col .col-information {
        text-align: center;
    } */
    .nav_holder .align_right {
        width: 68%;
        padding: 0px 0 0;
    }
    .search_form {
        width: calc(90% - 65px);
        margin-right: 10px;
        margin-top: 0;
    }
    .logo {
        padding-top: 2px;
    }
    .goog-te-banner-content {
        font-size: 10px !important;
    }
    .top_header .langwrap {
        max-width: 180px;
    }
    .shopping-cart {
        min-width: 320px;
        right: 0px;
    }
    .enquiry-list_wraper .enquiry-list li .cart-img {
        width: 50px;
    }
    .enquiry-list li {
        padding: 15px 15px 15px 15px;
    }
    .sh-product-gallery {
        margin-bottom: 30px;
    }
}

@media (max-width: 384px) {
    .search_form {
        width: calc(100% - 60px);
        margin-right: 5px;
    }
    .nav_holder .align_right {
        width: 60%;
    }
    .btn_cart {
        padding: 9px 10px;
        font-size: 10px;
    }
    .product_galery .align_right {
        font-size: 12px;
    }
    .enquiry-list_wraper .enquiry-list li .en-cart-title_wrap {
        width: calc(100% - 142px);
    }
}

@media (max-width: 320px) {
    .b_part .left a {
        font-size: 10px;
        font-weight: 600;
    }
    .top_header .langwrap {
        max-width: 140px;
    }
    .top_header .right {
        font-size: 10px;
    }
    .top_header span {
        padding: 0 5px;
    }
    .shopping-cart {
        min-width: 280px;
    }
}