.jFiler {
    width: 100%;
}

.form-group .mytooltip .tooltip-item {
    background: transparent;
}

.tooltip-link a {
    color: #292b2c;
}

.configurations .nav-tabs .slide {
    width: calc(100% / 5);
}

.dt-responsive thead tr th,
.dt-responsive tbody tr td,
.dt-responsive tfoot tr th {
    text-align: center;
}

.column-operations form {
    display: inline-block;
}

.create-product #categories ul.categories-main,
.edit-product #categories ul.categories-main {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    margin-bottom: 40px;
}

.create-product #categories ul.categories-main .categories-sub,
.edit-product #categories ul.categories-main .categories-sub {
    margin-left: 20px;
}

.create-product .md-tabs.nav-tabs li .slide,
.edit-product .md-tabs.nav-tabs li .slide {
    width: calc(100% / 5);
}

.project-refference-projects .project-reference-wrapper .row {
    margin-bottom: 1.25em;
}

ul.categories-main {
    display: inline-block;
    width: 33%;
}

.image-size-note {
    font-size: 12px;
}

.image-size-note span {
    margin-right: 5px;
    color: #8A4A33;
}


/*table {
  table-layout: fixed;
}
table tr td {
  white-space: normal !important; 
  word-wrap: break-word;  
}*/


/*.table.table-sm tr td:first-child,
.table.table-sm tr th:first-child {
    width: 20px;
}*/